parameters:
    level: 9
    reportUnmatchedIgnoredErrors: false
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    symfony:
        constant_hassers: false
        container_xml_path: 'var/cache/dev/App_KernelDevDebugContainer.xml'
