<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title></title>

    {{ encore_entry_script_tags('admin-sdk') }}
</head>
<body>
    <div id="app"></div>
</body>
</html>